body{
    display: flex;
    flex-direction: column;
    margin:0px;
}
button{
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;    
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 1vh 20vw;
}
#logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;    
}
#menu a{
    font-size: 18px;
    text-align: right;
    padding: 10px;
    color: #E5E7EB;
    text-decoration: none;
}
.double-panel{
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    align-content: center;
    color: #f9faf8;
    padding: 10vh 20vw;
}
#main-text{
    flex-basis: 50%;
    margin: 5px;
}
#main-text h1{
    font-size: 48px;
    color:  #F9FAF8;
    font-weight: 900;
}
#main-text h2{
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb;
}
#placeholder{
    display: flex;
    margin:5px;
    flex-basis: 50%;
    background-color: #6d747d;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    padding: auto;
}
.featured{
    display: flex;
    flex-direction: column;
    padding: 5vh 20vw;
    text-align: center;    
}
.featured-products{
    display:flex;
    justify-content: space-between;
}
#featured-title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 5vh;
    color: #1f2937;
}
.product-image{
    padding: 10vh;
    margin: 16px;
    border-style: solid;
    border-radius: 20px;
    border-color: #3882F6;
}
.product-caption{
    padding: 10px;
    text-align: center;
}
.testimonials{
    padding: 5vh 20vw;
    background-color: #e5e7eb;
}
.testimonials h1{
    font-size: 36px;
    font-weight:100
    ;
    font-style: italic;
}
.testimonials h2{
    font-weight: bold;
    text-align: right;
}
.call-to-action{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #3882F6;
    color: white;
    margin: 150px;
    padding: 5vh 3vw;
    border-radius: 15px;
}
.call-to-action button{
    font-size: 21px;
    border-style: solid;
    border-color:white;
}
.call-to-action h2{
    font-weight: normal;
}
.footer{
    background-color:  #1f2937;
    text-align: center;
    padding: 4vh 20vw;
    color: white;
}